<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401 error</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        body {
            padding: 0;
            margin: 0;
            height: 100vh;
            background-color: #ffffff;
            background-repeat: none;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Roboto', sans-serif;
        }

        .container {
            text-align: center;            
        }

        .container .error-code {
            width: 100%;
            font-size: 200px;
            color: #ea80fc;
            font-weight: 900;
            letter-spacing: 10px;
            text-shadow: 2px 2px 5px #e1bee7;
            margin-left:20px;
        }

        .text{
            margin-top:-50px;
        }

        .title{
            color: #7b1fa2;
            font-size: 31px;
            font-weight:bold;
        }

        .sub-title{
            margin-top:-20px;
            color: #e1bee7;
        }

    </style>
</head>

<body>
    <div class="container">
        <div class="error-code">
            <span>401</span>
        </div>
        <div class="text">
            <p class="title">No authorization found.</p>
            <p class="sub-title">This page is not publically available.</p>
        </div>
    </div>
</body>

</html>